@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

$white: #FFFFFF;
$blue: #2c3e50;
$grey: #ecf0f1;
$orange: #E5A430;
$green: #6BBC76;
$bg: url('../img/Fond jaune.png');

body {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif; 
  margin: 0px;
};

// Desktop Version
.login {
  width: 100vw;
  min-height: 100vh;
  background-image: $bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
    img {
      width: 30vw;
    }

    .ui.header {
      margin: 0px;
      text-align: center;
      font-size: 2.5em;
      color: $blue;
    }
    .ui.form {
      width: 100vw;
      text-align: center;
      padding: 15vh 20px;

      label {
        font-size: 1.2em;
        font-weight: bold;
        color: $blue;
      }
      .field {
        width: 20%;
        margin: auto;
      }
      .buttons {
        margin: 25px;
      }
    }
}
.navbar {
  background-color: $orange;
  display: flex;
  justify-content: space-between;
  align-items: center;

    img {
      width: 5%;
    }
    .fa, .fas {
      font-size: 3em;
      color: $blue;
      padding: 9px;
    }
    .profil-buttons {
      display: flex;
      align-items: center;
    }
    .ui.icon.input {
      width: 250px;
    }

    
}
.main-page {
  display: flex;
}
.dashboard {
  min-height: 100vh;
  padding: 25px;
 
  .ui.grid > .row{
    width: 70vw;
  }
  .ui.grid > .row > .column {
    padding: 0px;
  }
  .row.grid-details {
    display: flex;
    width: 70vw;
    text-align: center;
    justify-content: space-around;
    font-weight: bold;
      &:hover {
        background-color: #e0c18d;
      }

      span {
        padding: 6px;
        border-radius: 9px;
        font-weight: normal;
      }
      i {
        margin-right: 9px;
      }
  }
  .ui.segment {
    color: $grey;
    background-color: $blue;
    font-size: 1.2em;
    text-align: center;
  }
  .ui.segment.grid-details {
    background-color: $grey;
    color: $blue;
    
  }
}
.dashboard-menu {
  background-color: $blue;
  width: 15%;
  min-height: 100vh;
  display: flex;
  align-items: center;

  .ui.dropdown>.text {
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif; 
  }
  .ui.vertical.menu .item > i.icon {
    display: none;
  }
  .ui.vertical.menu .item {
    background-color: $blue;
    color: white;
  }
  .ui.vertical.menu{
    & :hover {
      background-color: white;
      color: $blue;
    }
    border: none;
  }
  .ui.menu .ui.dropdown .menu > .item {
    color: $blue !important;
    font-size: 1.3em !important;
  }
}
.repair-sheet-form {
  min-height: 100vh;
  padding: 25px;
  display: flex;
  flex-direction: column;

  .ui.header {
    color: $blue;
  }

  .ui.selection.dropdown {
    width: 50%;
  }
  .row-options {
    display: flex;
    justify-content: space-around;
    &:hover {
      background-color: $grey;
    }
    div {
      font-size: 1.2em !important;
      margin-bottom: 20px ;
      padding: 5px;
    }
  }

  .ui.form {
    width: 100vw;
    display: flex;
    flex-direction: column;
  
      label {
        font-size: 1.2em;
        font-weight: bold;
        color: $blue;
      }
      .field {
        width: 50%;
        // margin: auto;
      }
      .buttons {
        margin: 25px;
        align-items: center;
      }
  }
}
.repair-sheet-infos {
  padding: 30px;

  .ui.header {
    margin-bottom: 40px;
    color: $blue;
    text-decoration: underline;
  }
  .ui.list .list>.item, .ui.list>.item, ol.ui.list li, ul.ui.list li {
    margin-bottom: 10px;
    color: $blue;
  }
}
.tab {
  min-height: 100vh;
  padding: 25px;
  width: 70vw;
}
.ui.tabular.menu .item {
  font-size: 1.5em;
}
.tab-form {
  
  .ui.form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
      label {
        font-size: 1.2em;
        font-weight: bold;
        color: $blue;
      }
      .field {
        width: 70%;
      }
      .buttons {
        margin: 25px;
        align-items: center;
      }
  }
}
.repair-sheet {
  min-height: 100vh;
  padding: 25px;
  width: 70vw;

  .ui.list .list>.item, .ui.list>.item, ol.ui.list li, ul.ui.list li {
    margin-bottom: 10px;
  }

  .ui.header {
    text-align: center;
  }
  .repair-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

      .repair-icons {
        display: flex;
        justify-content: space-between;
         i {
           font-size: 1.3em;
           margin-right: 15px;
           color: $blue;
         }
      }
  }
  .repair-sheet-device {
    display: flex;
    justify-content: center;

    .device {
      font-size: 1.3em;
      font-weight: bold;
      margin: 5px;
    }
  }
  .repair-sheet-options {
    display: flex;
    justify-content: space-between;
  }
  .repair-sheet-one {
    border-bottom: $blue solid 0.1px;
    padding: 10px;
    font-size: 1.2em;
  }
  .repair-sheet-client {
    border-bottom: $blue solid 0.1px;
    padding: 10px;
    font-size: 1.2em;

      .repair-span {
        font-weight: bold;
      }
  }
  .repair-sheet-repair {
    border-bottom: $blue solid 0.1px;
    padding: 10px;
    font-size: 1.2em;

  }
  .repair-devis {
    padding: 10px;
    font-size: 1.2em;

    .amount.description {
      display: flex;
      align-items: center;
    }
  }
}
.tag-form {

  min-height: 100vh;
  padding: 25px;
  
  .ui.form {
    width: 100vw;
    display: flex;
    flex-direction: column;

      label {
        font-size: 1.2em;
        font-weight: bold;
        color: $blue;
      }
      .field {
        width: 70%;
      }
      .buttons {
        margin: 25px;
        align-items: center;
      }
  }
}


// Mobile version
@media only screen and (max-width: 768px ) {
  .login {
    img {
      width: 50vw;
      margin-bottom: 20px;
    }
    .ui.header {
      font-size: 2em;
    }
    .ui.form {
      .field {
        width: 60%;
      }
    }
  }
}